.body-space {
  padding: 24px;
}

.mt24 {
  margin-top: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.m0 {
  margin: 0 !important;
}

.site-button-ghost-wrapper {
  padding: 16px;
  background: rgb(190, 200, 200);
}

.ant-back-top {
  right: 120px !important;
}

.anchor-list {
  margin-bottom: 56px;
}
